<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoFinalDI___VictorFernandezCalleja.Properties.Settings.DB_Local_ImagesConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ProjectDB\SqlData\LocalImages\LocalImagesDB\DB_Local_Images.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoFinalDI___VictorFernandezCalleja.Properties.Settings.projectdbConnectionString"
            connectionString="server=localhost;user id=root;password=toor;database=projectdb"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProyectoFinalDI___VictorFernandezCalleja.Properties.Settings.projectdbConnectionString1"
            connectionString="server=localhost;user id=victor;password=victor;database=projectdb;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProyectoFinalDI___VictorFernandezCalleja.Properties.Settings.FacturasDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|ProjectDB\SqlData\Facturas\FacturasDB\FacturasDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoFinalDI___VictorFernandezCalleja.Properties.Settings.projectdbConnectionString2"
            connectionString="server=infsalinas.sytes.net;user id=usuario;password=dam1234;port=5306;database=projectdb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>